[Desktop Entry]
Encoding=UTF-8
Name=TWINS
Comment=TWINS P2P Cryptocurrency
Comment[fr]=TWINS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TWINS, eşten eşe kriptografik sanal para birimi
Exec=twins-qt %u
Terminal=false
Type=Application
Icon=twins128
MimeType=x-scheme-handler/twins;
Categories=Office;Finance;
